@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.p-54{
    padding: 0 54px;
}

.pl-54{
    padding: 0;
    padding-left: 54px;
}

.p{
    font-size: 13px;

}

.ps-16{
    font-size: 16px;
}

.custom-btn{
 
}

.custom-img{
    
}

.wrap{
    padding: 0 54px;
}